<h1>Songs</h1>

<ul>
<% @songs.each do |song| %>
    <p>
        <%= link_to song.name, song %>
        <%= link_to song.artist.name, song.artist %>
        <%= link_to song.genre.name, song.genre %>        
    </p>
<% end %>
</ul>